<div class="company">
  <div class="layout">
    <div class="show-animation" data-animation="title">
      <h2 class="section-title">Access</h2>
      <span class="section-title-child">アクセス</span>
    </div>
  </div>

  <div class="company_detail">
    <div class="layout">
      <img class="company_detail_logo" src="<%= conf.assets.commonImage %>/logo-white.png" alt="" />
      <div class="address">
        <p>〒150-6139</p>
        <p>東京都渋谷区渋谷2-24-12 39F</p>
        <p>WeWork 渋谷スクランブルスクエア(38-105)</p>
      </div>

      <div class="president">
        <span>代表取締役社長</span>
        <p>兼子 佳也</p>
      </div>
    </div>
  </div>
  <div id="maps"></div>
</div>