@import "libraries-frontend-framelunch/css/_variables.css";
@import "libraries-frontend-framelunch/css/_keyframes.css";

html {
    font-size: 62.5%;
}

body {
    background-color: #f7f7f7;
    font-size: 1.6rem;
    font-family: "Noto Sans JP", sans-serif;
    max-width: 160rem;
    margin: 0 auto;
}

main {
    overflow-x: hidden;
}

/* stylelint-disable-next-line */
*,
*::before,
*::after {
    box-sizing: border-box;
}

pre {
    font-family: var(--fontFamily-mono);
    font-weight: var(--fontWeight-normal);
}

.-hidden-pc {
    @media (--not-sp) {
        display: none !important;
    }
}

.-hidden-sp {
    @media (--sp) {
        display: none !important;
    }
}

.-sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}
