<section class="section-description">
  <div class="layout">
    <h2 class="section-title">募集要項</h2>
    <div class="description__content">
      <div class="description__block">
        <h3 class="description-head">システム開発担当者</h3>
        <div class="description__item">
          <div class="description__item-title">業務内容</div>
          <div class="description__item-text">FileMakerの開発をメインに技術があれば他言語の開発も行って頂きます。<br>また。先方との要件ヒアリング、コミニケションツールを使用した連絡なども行って頂きます。</div>
        </div>
      </div>
      <div class="description__block">
        <h3 class="description-head">営業／ディレクター</h3>
        <div class="description__item">
          <div class="description__item-title">業務内容</div>
          <div class="description__item-text">開発者のアシスタントとして課題管理や議事録作成、案件管理、<br>引き合いがあった取引先様への営業など行って頂きます。</div>
        </div>
      </div>
      <div class="description__block">
        <div class="description__item">
          <div class="description__item-title">採用人数</div>
          <div class="description__item-text">１～３名</div>
        </div>
        <div class="description__item">
          <div class="description__item-title">対象となる方</div>
          <div class="description__item-text">学歴不問</div>
        </div>
        <div class="description__item">
          <div class="description__item-title">応募資格／条件</div>
          <div class="description__item-text">
            <div class="description__item-square"><span>必須条件</span></div>
            <div class="description__item-light -margin">特に無し</div>
            <div class="description__item-square"><span>歓迎条件</span></div>
            <div class="description__item-light -margin">・システム開発経験者<br>
              ・アジャイル開発経験者<br>
              ・ECサイト運営経験者<br>
              ・小売やメーカーの企画・生産経験者</div>
          </div>
        </div>
        <div class="description__item">
          <div class="description__item-title">勤務地</div>
          <div class="description__item-text">東京都渋谷（リモートワーク有り）</div>
        </div>
        <div class="description__item">
          <div class="description__item-title">雇用形態</div>
          <div class="description__item-text">正社員または専属の業務委託</div>
        </div>
        <div class="description__item">
          <div class="description__item-title">労働時間</div>
          <div class="description__item-text">
            <div class="description__item-square"><span>フレックス制 （11時～15時はコアタイム）</span></div>
            <div class="description__item-note -margin">コアタイムは連絡が取れれば問題なし。</div>
            <div class="description__item-square"><span>１日約８時間 ⇒取引先に迷惑がかからなければ時間の管理はお任せします。</span></div>
            <div class="description__item-square"><span>時間外労働有り</span></div>
          </div>
        </div>
        <div class="description__item">
          <div class="description__item-title">試用期間</div>
          <div class="description__item-text">３ヵ月程度</div>
        </div>
        <div class="description__item">
          <div class="description__item-title">給与</div>
          <div class="description__item-text">
            <div class="description__item-square"><span>予定年収</span></div>
            <div class="description__item-light -margin">システム開発経験者の場合：450万から1,000万</div>
            <div class="description__item-square"><span>年俸制</span></div>
            <div class="description__item-square"><span>年収を12ヶ月分に分割。</span></div>
            <div class="description__item-note">賃金はあくまでも目安の金額であり、選考を通じて上下する可能性があります。<br>前職・経験・希望をお伺いして話し合いの上、決定します。</div>
          </div>
        </div>
        <div class="description__item">
          <div class="description__item-title">待遇、福利厚生</div>
          <div class="description__item-text">
            正社員の場合
            <div class="description__item-light">通勤手当（上限４万）、各種社会保険（厚生年金・社会保険・雇用保険・労災保険）</div>
          </div>
        </div>
        <div class="description__item">
          <div class="description__item-title">休日</div>
          <div class="description__item-text">
            正社員の場合
            <div class="description__item-light">土日祝、夏季、年末年始、有給休暇、忌引き休暇<br>年間休日日数：125日<br>有給休暇：入社6ケ月後に10日付与。</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>