/* our_work */
.our_work {
    background-color: #fff;
    .layout {
        padding: 15rem 10rem 0;
        border-left: 1px solid #e7e7e7;
        border-right: 1px solid #e7e7e7;
        @media (--sp) {
            padding: 10.2rem 5.3vw 0;
        }
    }

    .box {
        background-color: #e74c3c;
        color: #fff;
        display: block;
        padding-left: 4rem;
        padding-bottom: 1.8rem;
        height: 100%;
        text-decoration: none;
        @media (--sp) {
            padding-left: 2.1rem;
            padding-bottom: 2rem;
        }

        .img-wrapper {
            background-color: #fff;
            padding-top: 2rem;
            padding-bottom: 2rem;
            overflow: hidden;
            img {
                width: 100%;
                @media (--sp) {
                    width: calc(100% + 4rem);
                    margin-left: -2rem;
                }
            }
        }

        h2 {
            padding: 1.9rem 0;
            font-size: 1.8rem;
            @media (--sp) {
                padding: 1.9rem 0 1rem;
                font-size: 1.4rem;
            }
        }

        p {
            font-size: 1.4rem;
            line-height: 2;
            letter-spacing: 0.1em;
            padding-right: 2rem;
            @media (--sp) {
                font-size: 1.2rem;
            }
        }
    }

    .swiper {
        padding: 3rem 0 3rem 10rem;
        margin-top: 8rem;
        margin-left: -10rem;
        overflow: visible;
        position: relative;
        @media (--sp) {
            margin-top: 4rem;
            padding: 3rem 2rem 3rem;
            margin-left: -5.3vw;
        }
        &::after {
            position: absolute;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100%;
            background-color: #f7f7f7;
            content: "";
        }
        &-wrapper {
            /* gap: 3rem;
            @media (--sp) {
                gap: 2.5rem;
            } */
        }

        &-slide {
            height: auto;
            width: 44rem;
            @media (--sp) {
                width: 27.5rem;
            }
        }

        & .swiper-pagination {
            position: relative;
            text-align: right;
            bottom: auto;
            margin-bottom: 3rem;
            @media (--sp) {
                margin-bottom: 2rem;
                margin-left: 2rem;
            }
            & .swiper-pagination-bullet-active {
                background-color: #e74c3c;
            }
        }

        & .swiper-button {
            position: relative;
            display: flex;
            justify-content: flex-end;
            margin-top: 3rem;
            @media (--sp) {
                margin-top: 2rem;
                margin-left: 2rem;
            }
            .swiper-button-next,
            .swiper-button-prev {
                position: relative;
                top: auto;
                margin-top: 0;
                width: 23px;
                height: 45px;
                background-image: url('/top/image/ourwork_arrow.png');
                background-repeat: no-repeat;
                background-size: 23px auto;
                outline: none;
                &::after {
                    content: normal;
                }
                &[aria-disabled] {
                    cursor: pointer;
                }
            }
            .swiper-button-next {
                left: auto;
                transform: scale(-1, 1);
            }
            .swiper-button-prev {
                right: auto;
                margin-right: 5rem;
            }
        }
    }
}