<section class="section-about">
  <div class="layout">
    <h2 class="section-title">Freeandopenについて</h2>
    <div class="about__content">
      <div class="about__block -block1">
        <div class="about__description">
          <h3 class="about__description-title">FileMaker×アジャイル開発</h3>
          <div class="about__description-text">当社は、FileMakerを使用したアジャイル開発を行うシステム会社です。<br>
            <br>
            実際にシステムを使用する現場の担当者は、<br>
            複雑な要件定義や紙ベースの仕様検討を行っても、<br>
            実際にシステムを使用すると「イメージと異なる」といった意見があり、<br>
            顧客満足度としてはあまり高くありません。<br>
            <br>
            「使いながら少しずつ作る」をコンセプトにし、<br>
            アジャイル開発では現場の担当者が利用し、その都度フィードバックをもらい、<br>
            修正や機能追加を少しずつ繰り返すことで、現場担当者との相違も少なく、<br>
            顧客満足が高いシステムの開発が可能です。<br>
            <br>
            そして、当社がアジャイル開発に適したソフトウェアとして採用しているのは、<br>
            米Appleの100％子会社であるクラリス社が提供しているFileMakerです。<br>
            他の開発ツールと比較して、開発速度の速さや柔軟性だけでなく、<br>
            おしゃれでデザイン性が高く、操作性・自由度も非常に優れています。</div>
        </div>
        <div class="about__image">
          <%- include('../../image/Picture.ejs', { image: {
              pc: `${conf.assets.image}/about1_image_pc.png`,
              sp: `${conf.assets.image}/about1_image_sp.png`,
          } }) %>
        </div>
      </div>
      <div class="about__block -block2">
        <div class="about__description">
          <h3 class="about__description-title">仕事とプライベート（子育てなど）が<br>本当に充実できる環境を提供します。</h3>
          <div class="about__description-text">弊社代表は「取引先様に迷惑がかからず、任された仕事を実行できるのであれば、<br>
            決まった業務時間は設けない」との考え方を持っています。<br>
            そのため、プロ意識のある方であれば、基本的に業務時間や出社の義務はありません。<br>
            <br>
            現在のスタッフは子育て世代が多く、<br>
            中には「パートナーが出社している間に在宅で仕事をしつつ、<br>
            子供の世話や行事にも参加する」という方もいます。<br>
            さらに、仕事の合間には自分の用事（美容院や買い物など）を済ませるスタッフもいます。</div>
        </div>
        <div class="about__image">
          <%- include('../../image/Image.ejs', { image: {
              src: `${conf.assets.image}/about2_image.png`,
              alt: ``,
          } }) %>
        </div>
      </div>
    </div>
  </div>
</section>