/* mv */
.main .section-mv {
    background-color: #f7f7f7;
    position: relative;
    z-index: -1;

    .mv__slider {
        position: relative;
        z-index: 10;
        overflow: hidden;
        @media (--not-sp) {
            margin-left: auto;
            width: calc(824 / 1360 * 100%);
        }
        @media (--tb) {
            width: 72%;
        }

        & .slide {
            position: absolute;
            top: 0;
            height: 100%;
            width: 100%;
            overflow: hidden;
            &:first-of-type {
                position: relative;
            }

            img {
                width: 100%;
            }

            &.-lastCurrent {
                z-index: 10;
            }

            &.-current {
                z-index: 20;
            }
        }

    }

    .layout {
        padding-right: 0;
        padding-left: 0;
        @media (--not-sp) {
            border-left: 1px solid #e7e7e7;
            border-right: 1px solid #e7e7e7;
            position: relative;
            &::after {
                content: "";
                position: absolute;
                left: 0;
                width: calc(400 / 1600 * 100vw);
                height: calc(400 / 1600 * 100vw);
                max-width: 400px;
                top: 0;
                background-image: url("/recruit/image/mv_dot.png");
                background-size: 100% auto;
                background-repeat: no-repeat;
            }
        }

        .mv__text {
            text-align: left;
            font-size: 4rem;
            line-height: 2;
            letter-spacing: 0.05em;
            font-weight: 600;
            transition-property: transform, opacity;
            transition-duration: 1s;
            transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
            transition-delay: 1.1s;
            @media (--not-sp) {
                position: absolute;
                top: 9rem;
                left: 10rem;
                z-index: 50;
            }

            @media (--tb) {
                top: 4rem;
            }

            @media (--sp) {
                font-size: 2.2rem;
                text-align: center;
                margin-top: 2.4rem;
            }
        }
    }
}