<div class="agile_development_detail">
  <div class="agile_development_detail--wrapper">
    <div class="agile_development_detail--wrapper--item">
      <div class="layout">
        <div class="agile_development_detail--wrapper--item--title">
          <span class="number">01</span>
          <h3>プロトタイプを用いた<br class="sp-br" />システムの構築</h3>
        </div>

        <div class="agile_development_detail--wrapper--item--text">
          <p>
            要件のヒアリングから2ヶ月～3ヶ月でプロトタイプシステムを作成し、実際にお客様にシステムを使用して頂きUI改善や機能追加などのフィードバックをもらいながら改修を繰り返すため、自社の運用にフィットしたシステムの構築ができます。
          </p>
        </div>
        <img src="<%= conf.assets.image %>/reception-bg.png" alt="" class="reception-bg" />
      </div>
    </div>

    <div class="agile_development_detail--wrapper--item">
      <div class="layout">
        <div class="agile_development_detail--wrapper--item--title">
          <span class="number">02</span>
          <h3>仕様変更や機能追加などに<br />スムーズに対応</h3>
        </div>

        <div class="agile_development_detail--wrapper--item--text">
          <p>
            要件や仕様ありきではなく、「システムは変化する」前提として、改修や機能追加に柔軟に対応します。開発途中でもお客様の意見を取り入れることで、最大限ニーズに応えた満足度の高いシステムを開発いたします。
          </p>
        </div>
        <img src="<%= conf.assets.image %>/reception-bg.png" alt="" class="reception-bg" />
      </div>
    </div>

    <div class="agile_development_detail--wrapper--item">
      <div class="layout">
        <div class="agile_development_detail--wrapper--item--title">
          <span class="number">03</span>
          <h3>素早い開発</h3>
        </div>

        <div class="agile_development_detail--wrapper--item--text">
          <p>
            ウォーターフォール開発のような要件定義や仕様検討はせず、優先度の高い機能から着手してその都度部分リリースするため、手戻りを最小限に抑え、素早い開発を実現できます。
          </p>
        </div>
        <img src="<%= conf.assets.image %>/reception-bg.png" alt="" class="reception-bg" />
      </div>
    </div>
  </div>
</div>