
/* about_detail */
.about_detail {
    position: relative;
    @media (--not-sp) {
        height: 3000px;
    }
    @media (--sp) {
        background-color: #fff;
    }
    .layout {
        padding: 0 0 0 10rem;
        border-right: 1px solid #e5e5e5;
        @media (--not-sp) {
            position: sticky;
            top: 10rem;
        }
        @media (--tb) {
            padding-left: 4rem;
        }
        @media (--sp) {
            padding: 0 5.3vw;
        }
        &::before {
            @media (--not-sp) {
                content: "";
                position: absolute;
                right: 10rem;
                top: 0;
                width: 100vw;
                height: 100%;
                background-image: url('/top/image/reception-bg.png');
                background-repeat: no-repeat;
                background-position: bottom left;
                pointer-events: none;
            }
        }
        &::after {
            @media (--not-sp) {
                content: "";
                position: absolute;
                right: 10rem;
                top: 0;
                width: 100vw;
                height: 100%;
                background-color: #fff;
                z-index: -1;
            }
        }
    }

    &--list {
        &--item {
            display: flex;
            justify-content: space-between;
            position: relative;
            @media (--not-sp) {
                margin-right: 10rem;
            }
            @media (--tb) {
                margin-right: 4rem;
            }
            @media (--sp) {
                flex-direction: column;
                gap: 3.5rem;
            }
            &--text {
                margin-top: 4rem;
                @media (--not-sp) {
                    width: calc(620 / 1160 * 100%);
                }
                @media (--sp) {
                    margin-top: 7.5rem;
                }
                
                &No {
                    @media (--not-sp) {
                        margin-left: -10rem;
                        position: relative;
                        overflow: hidden;
                    }
                    @media (--tb) {
                        margin-left: -2rem;
                    }
                    &::after {
                        @media (--not-sp) {
                            content: "";
                            display: block;
                            padding-top: 18%;
                        }
                    }
                    & img {
                        @media (--not-sp) {
                            position: absolute;
                            top: 0;
                            transition-property: top;
                            transition-duration: 1s;
                            transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
                            &:not(.-show) {
                                top: calc(100% + 10px);
                            }
                        }
                        &.-number01 {
                            width: calc(141 * 0.8 / 580 * 100%);
                            max-width: 14.1rem;
                            @media (--tb) {
                                width: calc(141 * 0.8 / 580 * 0.8 * 100%);
                            }
                            @media (--sp) {
                                width: calc(141 * 0.8 / 650 * 100%);
                            }
                        }
                        &.-number02 {
                            width: calc(179 * 0.8 / 580 * 100%);
                            max-width: 17.9rem;
                            @media (--tb) {
                                width: calc(179 * 0.8 / 580 * 0.8 * 100%);
                            }
                            @media (--sp) {
                                width: calc(179 * 0.8 / 650 * 100%);
                            }
                        }
                        &.-number03 {
                            width: calc(177 * 0.8 / 580 * 100%);
                            max-width: 17.7rem;
                            @media (--tb) {
                                width: calc(177 * 0.8 / 580 * 0.8 * 100%);
                            }
                            @media (--sp) {
                                width: calc(177 * 0.8 / 650 * 100%);
                            }
                        }
                    }
                }

                h2 {
                    font-size: 3rem;
                    line-height: 1.8;
                    font-weight: 500;
                    margin-top: 2rem;
                    @media (--tb) {
                        font-size: calc(3rem * 0.8);
                        margin-top: 4rem;
                    }
                    @media (--sp) {
                        font-size: 1.9rem;
                        line-height: 1.8;
                        margin-top: 4rem;
                        letter-spacing: 0.05em;
                    }
                }

                p {
                    line-height: 2.375;
                    font-weight: 300;
                    letter-spacing: 0.1em;
                    margin-top: 4rem;
                    font-size: 1.6rem;
                    @media (--tb) {
                        font-size: calc(1.6rem * 0.8);
                    }
                    @media (--sp) {
                        font-size: 1.3rem;
                        line-height: 2;
                        margin-top: 3rem;
                    }
                }
            }

            &--img {
                position: relative;
                z-index: 100;
                overflow: hidden;
                @media (--not-sp) {
                    width: calc(540 / 1160 * 100%);
                }
                @media (--sp) {
                    padding-left: 8vw;
                }
                & li {
                    @media (--not-sp) {
                        position: absolute;
                        right: 0;
                        top: 0;
                        height: 100%;
                        overflow: hidden;
                        transition-property: top;
                        transition-duration: 1s;
                        transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
                    }

                    &:first-of-type {
                        @media (--not-sp) {
                            position: relative;
                        }
                    }

                    & img {
                        width: 100%;
                        display: block;
                        @media (--not-sp) {
                            transform: none;
                            transition-property: top;
                            transition-duration: 1s;
                            transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
                            position: relative;
                            top: 0;
                        }
                    }

                    &:not(.-show) {
                        top: 100%;
                        & img {
                            top: -100%;
                        }
                    }
                }
            }
        }
    }

    & .about_detail--pagination {
        position: absolute;
        bottom: 0;
        top: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        right: -30px;
        span {
            width: 8px;
            height: 8px;
            display: block;
            background-color: #ccc;
            border-radius: 50%;
            overflow: hidden;
            margin-top: 10px;
            &.-current {
                background-color: #e74c3c;
            }
        }
    }

    .reception-bg {
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 50;
        @media (--sp) {
            width: 88%;
            bottom: 30%;
            left: -5.3vw;
        }
    }
}