
/* about_detail */
.about_detail {
    position: relative;
    background-color: #fff;
    .layout {
        padding: 0 10rem;
        border-right: 1px solid #e5e5e5;
        border-left: 1px solid #e5e5e5;
        @media (--tb) {
            padding-left: 4rem;
        }
        @media (--sp) {
            padding: 0 5.3vw;
            z-index: 0;
            position: relative;
        }
        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100%;
            background-image: url('/top/image/reception-bg.png');
            background-repeat: no-repeat;
            background-position: bottom left;
            pointer-events: none;
            background-size: calc(550 / 1600 * 100%) auto;
            @media (--sp) {
                background-size: calc(661 / 750 * 100%) auto;
                z-index: -1;
                top: auto;
                bottom: 10rem;
            }
        }
    }

    &--list {
        &--item {
            position: relative;
            .about-item__flex {
                @media (--not-sp) {
                    display: flex;
                }
            }
            &--text {
                @media (--not-sp) {
                    width: calc(580 / 1160 * 100%);
                }
                
                &No {
                    @media (--not-sp) {
                        position: relative;
                        overflow: hidden;
                    }
                    @media (--tb) {
                        margin-left: -2rem;
                    }
                    & img {
                        &.-number01 {
                            width: calc(70 / 580 * 100%);
                            max-width: 7rem;
                            @media (--sp) {
                                width: calc(86 / 670 * 100%);
                            }
                        }
                        &.-number02 {
                            width: calc(82 / 580 * 100%);
                            max-width: 8.2rem;
                            @media (--sp) {
                                width: calc(100 / 670 * 100%);
                            }
                        }
                        &.-number03 {
                            width: calc(80 / 580 * 100%);
                            max-width: 8rem;
                            @media (--sp) {
                                width: calc(99 / 670 * 100%);
                            }
                        }
                    }
                }

                h2 {
                    font-size: 3rem;
                    line-height: 1.8;
                    font-weight: 500;
                    margin-top: 2rem;
                    @media (--tb) {
                        font-size: calc(3rem * 0.8);
                        margin-top: 4rem;
                    }
                    @media (--sp) {
                        font-size: 1.9rem;
                        line-height: 1.8;
                        margin-top: 2.4rem;
                        letter-spacing: 0.05em;
                    }
                }

                p {
                    line-height: 2.375;
                    font-weight: 300;
                    letter-spacing: 0.1em;
                    margin-top: 4rem;
                    font-size: 1.6rem;
                    @media (--tb) {
                        font-size: calc(1.6rem * 0.8);
                    }
                    @media (--sp) {
                        font-size: 1.3rem;
                        line-height: 2;
                        margin-top: 2rem;
                    }
                }
            }

            &--img {
                @media (--not-sp) {
                    width: calc(580 / 1160 * 100%);
                }
                @media (--sp) {
                    margin-top: 3rem;
                    width: calc(610 / 670 * 100%);
                    margin-left: auto;
                }

                img {
                    @media (--not-sp) {
                        width: calc(540 / 580 * 100%);
                    }
                    @media (--sp) {
                        width: 100%;
                    }
                }
            }

            &.-item-01 {
                .layout {
                    padding-top: 15rem;
                    @media (--sp) {
                        padding-top: 5rem;
                    }
                    .about_detail--list--item--img {
                        img {
                            @media (--not-sp) {
                                margin-left: 4rem;
                            }
                        }
                    }
                }
            }
            &.-item-02 {
                .layout {
                    padding-top: 13rem;
                    @media (--not-sp) {
                        flex-direction: row-reverse;
                    }
                    @media (--sp) {
                        padding-top: 5rem;
                    }
                    &::before {
                        @media (--not-sp) {
                            transform: scale(-1, 1);
                        }
                    }
                    .about_detail--list--item--textNo {
                        img {
                            @media (--not-sp) {
                                margin-left: 4rem;
                            }
                        }
                    }
                    .about_detail--list--itemTextWrapper {
                        @media (--not-sp) {
                            margin-left: 4rem;
                        }
                    }
                }
            }
            &.-item-03 {
                .layout {
                    padding-top: 13rem;
                    @media (--sp) {
                        padding-top: 5rem;
                    }
                    .about_detail--list--item--img {
                        img {
                            @media (--not-sp) {
                                margin-left: 4rem;
                            }
                        }
                    }
                }
            }
        }
    }

    & .about_detail--pagination {
        position: absolute;
        bottom: 0;
        top: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        right: -30px;
        span {
            width: 8px;
            height: 8px;
            display: block;
            background-color: #ccc;
            border-radius: 50%;
            overflow: hidden;
            margin-top: 10px;
            &.-current {
                background-color: #e74c3c;
            }
        }
    }

    .reception-bg {
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 50;
        @media (--sp) {
            width: 88%;
            bottom: 30%;
            left: -5.3vw;
        }
    }
}