
/* about_detail */
.about_detail {
    position: relative;
    background-color: #fff;
    @media (--not-sp) {
        height: 3000px;
    }
    .layout {
        padding: 0 0 0 10rem;
        border-right: 1px solid #e5e5e5;
        @media (--not-sp) {
            position: sticky;
            top: 0;
        }
        @media (--sp) {
            padding: 0 5.3vw;
        }
    }

    &--list {
        &--item {
            display: flex;
            justify-content: space-between;
            position: relative;
            @media (--sp) {
                flex-direction: column;
                gap: 3.5rem;
            }
            &--text {
                margin-top: 6.7rem;
                @media (--not-sp) {
                    width: calc(620 / 1160 * 100%);
                }
                @media (--sp) {
                    margin-top: 7.5rem;
                }
                
                &No {
                    margin-left: -10rem;
                    position: relative;
                    overflow: hidden;
                    @media (--sp) {
                        margin-left: 0;
                        width: 8.7rem;
                    }
                    &::after {
                        content: "";
                        display: block;
                        padding-top: calc(183 / 106 * 10%);
                    }
                    & img {
                        position: absolute;
                        top: 0;
                        transition-property: top;
                        transition-duration: 1s;
                        transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
                        &:not(.-show) {
                            top: calc(100% + 10px);
                        }
                    }
                }

                h2 {
                    font-size: 3rem;
                    line-height: 1.8;
                    font-weight: 500;
                    margin-top: 11.5rem;
                    @media (--sp) {
                        font-size: 1.9rem;
                        line-height: 1.42;
                        margin-top: 4rem;
                    }
                }

                p {
                    line-height: 2.375;
                    font-weight: 300;
                    letter-spacing: 0.1em;
                    margin-top: 6rem;
                    @media (--sp) {
                        font-size: 1.3rem;
                        line-height: 2;
                        margin-top: 3rem;
                    }
                }
            }

            &--img {
                position: relative;
                z-index: 100;
                @media (--not-sp) {
                    width: calc(540 / 1160 * 100%);
                }
                @media (--sp) {
                    padding-left: 8vw;
                }
                & li {
                    position: absolute;
                    right: 0;
                    top: 0;
                    height: 100%;
                    overflow: hidden;
                    transition-property: top;
                    transition-duration: 1s;
                    transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);

                    & img {
                        display: block;
                        vertical-align: bottom;
                        width: 100%;
                        transform: none;
                        transition-property: top;
                        transition-duration: 1s;
                        transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
                        position: relative;
                        top: 0;
                    }

                    &:not(.-show) {
                        top: 100%;
                        & img {
                            top: -100%;
                        }
                    }
                }
            }

            .reception-bg {
                position: absolute;
                bottom: 0;
                left: -22rem;
                z-index: 50;
                @media (--sp) {
                    width: 88%;
                    bottom: 40%;
                    left: -5.3vw;
                }
            }
        }
    }
}