<section class="section-background">
  <div class="layout">
    <h2 class="section-title">募集背景</h2>
    <div class="background__description">
      <p class="description__text">設立以来、当社はFileMaker×アジャイル開発を組み合わせ、<br class="-hidden-sp">
        スピード感のあるお客様に寄り添ったシステム開発を行ってまいりました。<br>
        これまでにDX戦略の推進をサポートしてまいりましたが、<br class="-hidden-sp">
        口コミなどによりお仕事の引き合いが急増し、現在人員が不足しております。<br>
        特に大手小売りやメーカーの企業様からのご相談が多く、<br class="-hidden-sp">
        業務改善のサポートができる体制作りが急務となっています。
      </p>
      <p class="description__text -bold">そのため、FileMakerの開発経験がない方でもシステム開発の経験があれば、<br>
        <span class="color-red">クライアントの業務改善を自身のものとして考え、</span><br class="-hidden-sp">
        <span class="color-red">クライアントの社員としての気持ちで働ける</span><br>
        メンバーを積極的に募集しております。
      </p>
    </div>
  </div>
</section>