.header {
    /* header style here */
    height: 10rem;
    @media (--sp) {
        height: 6rem;
    }
    .headerFixed {
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 300;
        height: 10rem;
        background-color: #f7f7f7;
        border-bottom: 1px solid #e5e5e5;
        @media (--tb-h) {
            width: 100%;
        }
        @media (--sp) {
            height: 6rem;
        }
    }
    .layout {
        padding: 0 10rem;
        border-left: 1px solid #e5e5e5;
        border-right: 1px solid #e5e5e5;
        height: 100%;
        @media (--tb-h) {
            padding-left: 4rem;
            padding-right: 4rem;
        }
        @media (--tb) {
            padding-left: 4rem;
            padding-right: 4rem;
        }
        @media (max-width: 767px) {
            padding: 1.9rem 5.3vw;
        }
    }

    .nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 10rem;

        @media (--tb) {
            display: block;
            position: relative;
            top: 50%;
            transform: translateY(-50%);
            height: auto;
        }
        @media (--sp) {
            height: auto;
        }

        a {
            img {
                @media (--not-sp) {
                    width: 18rem;
                }
                @media (--sp) {
                    width: 14rem;
                }
            }
            @media (--not-sp) {
                transition-property: opacity;
                transition-duration: 0.3s;
            }
            &:hover {
                @media (--not-sp) {
                    opacity: 0.5;
                }
            }
        }

        &_list {
            display: flex;
            gap: 30px;
            @media (max-width: 767px) {
                display: none;
            }
            @media (--tb-h) {
                gap: 25px;
            }
            @media (--tb) {
                margin-top: 1.0rem;
            }

            a {
                text-decoration: none;
                font-family: "Raleway", sans-serif;
                font-size: 14px;
                font-weight: 600;
                letter-spacing: 0.05em;
                @media (--tb) {
                    font-size: 12px;
                }
            }

            .btn {
                background-color: #000;
                color: #fff;
                padding: 10px 12px;
            }
        }

        .drawer {
            display: none;

            @media (--tb) {
                display: block;
            }

            @media (--sp) {
                display: block;
                position: relative;
                z-index: 200;
            }
        }

        .drawer-hidden {
            display: none;
        }

        .drawer-open {
            display: flex;
            width: 3rem;
            justify-content: center;
            align-items: center;
            position: fixed;
            right: 5.3vw;
            z-index: 100;
            cursor: pointer;

            & span,
            & span::before,
            & span::after {
                content: "";
                display: block;
                height: 0.2rem;
                width: 3rem;
                background: #000;
                transition: 0.5s;
                position: absolute;
            }

            & span::before {
                bottom: 8px;
            }

            & span::after {
                top: 8px;
            }
        }

        #drawer-check:checked ~ .drawer-open span {
            background: rgba(255, 255, 255, 0);
        }

        #drawer-check:checked ~ .drawer-open span::before {
            bottom: 0;
            transform: rotate(45deg);
            background: #fff;
        }

        #drawer-check:checked ~ .drawer-open span::after {
            top: 0;
            transform: rotate(-45deg);
            background: #fff;
        }

        .drawer-content {
            width: 87%;
            height: 100%;
            position: fixed;
            top: 0;
            left: 100%;
            z-index: 99;
            background: #000;
            transition: 0.5s;
            .drawer-list {
                margin: 8rem 3rem 0;

                .drawer-item {
                    &.contact-btn {
                        background-color: #fff;
                        text-align: center;
                        a {
                            display: block;
                            color: #000;
                            font-size: 1.4rem;
                            padding: 2rem 0;
                        }
                    }

                    a {
                        color: #fff;
                        text-decoration: none;
                        font-size: 2rem;
                        letter-spacing: 0.1em;
                    }

                    &:not(:last-child) {
                        margin-bottom: 5.2rem;
                    }
                }
            }
        }

        #drawer-check:checked ~ .drawer-content {
            left: 13%;
        }
    }
}
