<header id="header" class="header" role="banner">
  <div class="layout">
    <div class="nav">
      <a href="/"><img src="<%= conf.assets.commonImage %>/logo.png" alt=""/></a>
      <ul class="nav_list">
        <li><a href="/?anchor=about">About Us</a></li>
        <li><a href="/?anchor=filemaker_development">Filemaker Development</a></li>
        <li><a href="/?anchor=agile_development">Agile Development</a></li>
        <li><a href="/?anchor=our_work">Our Work</a></li>
        <li><a href="/?anchor=company">Company</a></li>
        <li><a href="/?anchor=contact" class="btn">Contact Us</a></li>
      </ul>

      <div class="drawer -hidden-pc">
        <input type="checkbox" id="drawer-check" class="drawer-hidden" />

        <label for="drawer-check" class="drawer-open"><span></span></label>

        <nav class="drawer-content">
          <ul class="drawer-list">
            <li class="drawer-item">
              <a href="">About Us</a>
            </li>
            <li class="drawer-item">
              <a href="">Filemaker Development</a>
            </li>
            <li class="drawer-item">
              <a href="">Agile Development </a>
            </li>
            <li class="drawer-item">
              <a href="">Our Work </a>
            </li>
            <li class="drawer-item">
              <a href="">Company </a>
            </li>
            <li class="drawer-item contact-btn">
              <a href="">Contact Us</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>
