<section class="section-contact contact">
  <div class="layout">
    <div>
      <h2 class="section-title">Entry</h2>
      <span class="section-title-child">応募する</span>
    </div>

    <div class="contact_wrapper">
      <div class="contact_wrapper--text">
        <p>
          ご応募される方は、こちらをご記入の上<br>送信をお願いいたします。
        </p>
        <span>＊は必須です</span>
      </div>

      <div class="contact_wrapper--form">
        <form class="contact_wrapper--formInput">
          <div class="form-item">
            <label for="name">Name<span>*</span></label>
            <input id="name" type="text" name="name" />
            <span class="form-item__err">お名前を入力してください</span>
          </div>
          <div class="form-item">
            <label for="tel">Tel<span>*</span></label>
            <input id="tel" type="text" name="tel" />
            <span class="form-item__err">電話番号を入力してください</span>
          </div>
          <div class="form-item">
            <label for="email">E-mail<span>*</span></label>
            <input id="email" type="text" name="email" />
            <span class="form-item__err">メールアドレスを入力してください</span>
          </div>
          <div class="form-item">
            <label for="message">Message<span>*</span></label>
            <textarea name="message" id="message"></textarea>
            <span class="form-item__err">メッセージを入力してください</span>
          </div>
          <div class="submit_wrapper">
            <a class="submit hover">Entry</a>
          </div>
        </form>
        <p class="contact_wrapper--formThanks">
          ありがとうございます！<br>エントリーを受け付けました。
        </p>
      </div>
    </div>
  </div>
</section>