@import "libraries-frontend-framelunch/css/_variables.css";
@import "libraries-frontend-framelunch/css/_reset.css";

.-hidden-pc {
    @media (--not-sp) {
        display: none !important;
    }
}

.-hidden-sp {
    @media (--sp) {
        display: none !important;
    }
}

.-sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.layout {
    width: 1360px;
    max-width: 100%;
    margin: 0 auto;
    @media (--sp) {
        width: auto;
    }
}

.section-title {
    font-family: "Raleway", sans-serif;
    font-size: 5rem;
    margin-bottom: 1rem;
    letter-spacing: 0.03em;
    @media (--tb) {
        font-size: calc(5rem * 0.8);
    }
    @media (--sp) {
        font-size: 3rem;
        margin-bottom: 0.8rem;
    }
}

.section-title-child {
    font-size: 1.4rem;
    color: #e74c3c;
    display: block;
    letter-spacing: 0.06em;
    @media (--sp) {
        font-size: 1.2rem;
    }
}

.section-title-sub {
    font-family: "Raleway", sans-serif;
    font-size: 4rem;
    margin-bottom: 1rem;
    @media (--sp) {
        font-size: 2.6rem;
    }
}

.sp-br {
    display: none;
    @media (--sp) {
        display: block;
    }
}

.pc-br {
    display: block;
    @media (--sp) {
        display: none;
    }
}

a.hover,
input.hover {
    @media (--not-sp) {
        transition-property: opacity;
        transition-duration: 0.3s;
    }
    &:hover {
        @media (--not-sp) {
            opacity: 0.7;
        }
    }
}