@import "./common/_global.css";
@import "../components/header/header.css";
@import "../components/footer/footer.css";

@import "../components/top/animation/animation.css";
@import "../components/top/mv/mv.css";
@import "../components/top/aboutDetail/aboutDetail.css";
@import "../components/top/agileDevelopmentDetail/agileDevelopmentDetail.css";
@import "../components/top/ourWork/ourWork.css";

body {
    @media (--not-sp) {
        overflow-x: hidden;
    }
}

.main {
    @media (--sp) {
        overflow-x: hidden;
    }
}

/* About */
.about {
    .layout {
        border-left: 1px solid #e5e5e5;
        border-right: 1px solid #e5e5e5;
        padding: 15.1rem 10rem;
        @media (--sp) {
            padding: 6.8rem 5.3vw 7.5rem;
        }
    }

    &_head {
        &--inner {
            display: flex;
            justify-content: space-between;
            @media (--sp) {
                align-items: end;
            }

            &--img {
                img {
                    @media (--sp) {
                        width: 8.2rem;
                    }
                }
            }
        }

        p {
            margin-top: -7rem;
            font-size: 1.6rem;
            line-height: 2.5;
            font-weight: 300;
            @media (--sp) {
                width: 100%;
                margin-top: 2.9rem;
                font-size: 1.3rem;
                line-height: 2;
            }
        }
    }

    &_wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 8rem;
        @media (--sp) {
            flex-direction: column;
            margin-top: 4rem;
        }

        &--img {
            img {
                width: 62.1rem;
                @media (--not-sp) {
                    margin-left: -4.4rem;
                }
                @media (--sp) {
                    width: 100%;
                }
            }
        }

        &--text {
            h3 {
                font-size: 2.6rem;
                color: #e74c3c;
                font-weight: 700;
                letter-spacing: 0.1em;
                line-height: 1.85;
                margin-bottom: 3.7rem;
                @media (--sp) {
                    font-size: 1.8rem;
                    line-height: 1.72;
                    margin-bottom: 3rem;
                }
            }

            p {
                font-size: 1.8rem;
                letter-spacing: 0.05em;
                font-weight: 500;
                @media (--sp) {
                    font-size: 1.4rem;
                    line-height: 2;
                }

                span {
                    background-color: #e74c3c;
                    color: #fff;
                    padding: 0 0.6rem;
                    @media (--sp) {
                        padding: 0 1rem;
                    }
                }

                &:not(:last-child) {
                    margin-bottom: 2rem;
                }
            }
        }
    }
}

/* filemaker_development */
.filemaker_development {
    background-color: #fff;
    .layout {
        border-left: 1px solid #e5e5e5;
        border-right: 1px solid #e5e5e5;
        padding: 16rem 10rem 0;
        @media (--sp) {
            padding: 10.2rem 5.3vw 0;
        }
    }

    p {
        margin-top: 5rem;
        line-height: 2.5;
        font-weight: 300;
        @media (--sp) {
            margin-top: 3rem;
            font-size: 1.6rem;
            line-height: 2;
        }
    }

    &--wrapper {
        background-color: #f7f7f7;
        padding: 9rem 10rem;
        margin-left: -10rem;
        margin-top: 5rem;
        width: 100vw;
        @media (--sp) {
            margin-top: 4rem;
            padding: 6rem 5.3vw;
            width: 100vw;
            margin-left: -5.3vw;
            margin-right: -5.3vw;
        }

        &--inner {
            width: 1160px;
            max-width: 100%;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            row-gap: 6rem;
            @media (--sp) {
                flex-direction: column;
            }
            &--item {
                display: inline-block;
                padding: 4rem;
                width: 31%;
                border-radius: 60px;
                background: #fff;
                box-shadow: 20px 20px 60px #d9d9d9, -20px -20px 60px #fff;
                position: relative;
                @media (--sp) {
                    width: 100%;
                    padding: 3rem;
                }

                .number {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 7rem;
                    height: 7rem;
                    background-color: #e74c3c;
                    color: #fff;
                    font-family: "Montserrat", sans-serif;
                    font-size: 3rem;
                    letter-spacing: 0.1em;
                    box-sizing: border-box;
                    position: absolute;
                    top: -10px;
                    left: -10px;
                    @media (--sp) {
                        width: 5rem;
                        height: 5rem;
                        font-size: 2rem;
                    }
                }

                .img-wrapper {
                    height: 17rem;
                    text-align: center;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;

                    img {
                        width: fit-content;
                    }
                }

                h3 {
                    font-size: 2rem;
                    color: #e74c3c;
                    line-height: 1.7;
                    font-weight: 700;
                    margin-top: 3.3rem;
                    @media (--sp) {
                        font-size: 1.6rem;
                    }
                }

                p {
                    font-size: 1.4rem;
                    line-height: 2.29;
                    letter-spacing: 0.1em;
                    margin-top: 3rem;
                    @media (--sp) {
                        font-size: 1.2rem;
                        line-height: 1.92;
                        margin-top: 1.9rem;
                    }
                }
            }
        }
    }
}

/* company */
.company {
    background-color: #fff;
    position: relative;
    padding-top: 15rem;
    .layout {
        border-left: 1px solid #e7e7e7;
        border-right: 1px solid #e7e7e7;
        padding: 0 10rem 8.2rem;
        @media (--sp) {
            padding: 7.8rem 5.3vw 14rem;
        }
    }

    &_detail {
        @media (--sp) {
            padding: 27.5rem 5.3vw 5rem;
            background-color: #262626;
        }
        .layout {
            border-left: none;
            border-right: none;
            @media (--not-sp) {
                padding: 8rem 10rem 8.2rem;
                position: relative;
                z-index: 0;
                &::after {
                    content: "";
                    background-color: #262626;
                    position: absolute;
                    right: 0;
                    width: 100vw;
                    height: 100%;
                    top: 0;
                    z-index: -1;
                }
            }
            @media (--sp) {
                padding: 0;
            }
        }

        .address {
            margin-top: 2.5rem;
            p {
                font-size: 1.4rem;
                line-height: 2;
                letter-spacing: 0.1em;
                color: #fff;
                @media (--sp) {
                    font-size: 1.2rem;
                }
            }
        }

        .president {
            color: #fff;
            margin-top: 5rem;
            @media (--sp) {
                margin-top: 3rem;
            }
            span {
                font-size: 1.3rem;
                line-height: 2.15;
                letter-spacing: 0.1em;
                @media (--sp) {
                    font-size: 1.2rem;
                    line-height: 2.08;
                }
            }

            p {
                font-size: 1.8rem;
                line-height: 1.55;
                letter-spacing: 0.4em;
                font-weight: 500;
                @media (--sp) {
                    font-size: 1.6rem;
                    line-height: 1.56;
                }
            }
        }
    }

    #maps {
        width: 60%;
        height: 42rem;
        position: absolute;
        right: 0;
        top: 2.8rem;
        @media (--sp) {
            width: 86.66%;
            height: 32.5rem;
            top: 18.7rem;
        }
    }
}

/* contact */
.contact {
    background-color: #fff;
    .layout {
        border-left: 1px solid #e7e7e7;
        border-right: 1px solid #e7e7e7;
        padding: 15rem 10rem 23rem;
        @media (--sp) {
            padding: 10.2rem 5.3vw 14.5rem;
        }
    }

    &_wrapper {
        margin-top: 8rem;
        display: flex;
        justify-content: space-between;
        @media (--sp) {
            flex-direction: column;
            margin-top: 3rem;
        }

        &--text {
            width: 32%;
            @media (--sp) {
                width: 100%;
            }
            p {
                font-size: 1.6rem;
                line-height: 2.375;
                letter-spacing: 0.18em;
                font-weight: 300;
                @media (--sp) {
                    font-size: 1.3rem;
                    line-height: 2.077;
                }
            }

            span {
                font-size: 1.1rem;
                line-height: 2.545;
                letter-spacing: 0.1em;
                color: #e74c3c;
            }
        }

        &--form {
            width: 62%;
            @media (--sp) {
                width: 100%;
                margin-top: 4rem;
            }

            .form-item {
                label {
                    display: block;
                    font-weight: 600;
                    line-height: 1.75;
                    @media (--sp) {
                        font-size: 1.3rem;
                        letter-spacing: 0.1em;
                    }
                    span {
                        color: #e74c3c;
                    }
                }

                input {
                    width: 100%;
                    height: 5rem;
                    background-color: #f7f7f7;
                    border: none;
                    padding: 1rem;

                    @media (--sp) {
                        height: 4rem;
                    }
                }

                textarea {
                    width: 100%;
                    height: 18rem;
                    background-color: #f7f7f7;
                    border: none;
                    padding: 1rem;
                    @media (--sp) {
                        height: 17rem;
                    }
                }

                &:not(:last-child) {
                    margin-bottom: 2rem;
                }
            }

            .submit_wrapper {
                text-align: center;
                margin-top: 2.8rem;
                @media (--sp) {
                    margin-top: 2rem;
                }
                .submit {
                    display: inline-block;
                    border: none;
                    background-color: #262626;
                    color: #fff;
                    font-size: 1.8rem;
                    line-height: 1;
                    letter-spacing: 0.1em;
                    font-weight: 700;
                    padding: 2.3rem 8.2rem;
                    @media (--sp) {
                        font-size: 1.4rem;
                        padding: 1.95rem 7rem;
                    }
                }
            }
        }
    }
}
