@import "./common/_global.css";
@import "../components/header/header.css";
@import "../components/footer/footer.css";

@import "../components/common/pagetop/pagetop.css";
@import "../components/top/animation/animation.css";
@import "../components/top/mv/mv.css";
@import "../components/top/aboutDetail/aboutDetail.css";
@import "../components/top/agileDevelopmentDetail/agileDevelopmentDetail.css";
@import "../components/top/ourWork/ourWork.css";
@import "../components/top/company/company.css";
@import "../components/top/contact/contact.css";
@import "../components/top/news/news.css";

body {
    @media (--not-sp) {
        overflow-x: hidden;
    }
}

.main {
    @media (--sp) {
        overflow-x: hidden;
    }
}

/* About */
.about {
    .layout {
        border-left: 1px solid #e5e5e5;
        border-right: 1px solid #e5e5e5;
        padding: 15.1rem 10rem;
        @media (--tb) {
            padding-left: 4rem;
            padding-right: 4rem;
        }
        @media (--sp) {
            padding: 6.8rem 5.3vw 7.5rem;
        }
    }

    &_head {
        &--inner {
            display: flex;
            justify-content: space-between;
            @media (--sp) {
                align-items: end;
            }

            &--img {
                img {
                    @media (--tb) {
                        width: calc(16.4rem * 0.8);
                    }
                    @media (--sp) {
                        width: 8.2rem;
                    }
                }
            }
        }

        p {
            margin-top: -7rem;
            font-size: 1.6rem;
            line-height: 2.5;
            font-weight: 300;
            @media (--tb) {
                padding-right: 8rem;
            }
            @media (--sp) {
                width: 100%;
                margin-top: 2.9rem;
                font-size: 1.3rem;
                line-height: 2;
            }
        }
    }

    &_wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 8rem;
        @media (--sp) {
            flex-direction: column;
            margin-top: 2rem;
        }

        &--img {
            @media (--not-sp) {
                width: 50%;
            }
            img {
                width: 100%;
                @media (--not-sp) {
                    margin-left: -4.4rem;
                }
            }
        }

        &--text {
            @media (--not-sp) {
                width: 50%;
            }
            @media (--sp) {
                margin-top: 2rem;
            }
            h3 {
                font-size: 2.6rem;
                color: #e74c3c;
                font-weight: 700;
                letter-spacing: 0.1em;
                line-height: 1.85;
                margin-bottom: 3.7rem;
                @media (--tb) {
                    font-size: calc(2.6rem * 0.8);
                }
                @media (--sp) {
                    font-size: 1.8rem;
                    line-height: 1.72;
                    margin-bottom: 3rem;
                }
            }

            p {
                font-size: 1.8rem;
                letter-spacing: 0.05em;
                font-weight: 500;
                line-height: 2.4;
                @media (--tb) {
                    font-size: calc(1.8rem * 0.8);
                }

                @media (--sp) {
                    font-size: 1.4rem;
                }

                span {
                    background-color: #e74c3c;
                    color: #fff;
                    padding: 0 0.6rem;
                    @media (--sp) {
                        padding: 0 1rem;
                    }
                }
            }
        }
    }
}

/* filemaker_development */
.filemaker_development {
    background-color: #fff;
    .layout {
        border-left: 1px solid #e5e5e5;
        border-right: 1px solid #e5e5e5;
        padding: 16rem 10rem 0;
        @media (--tb) {
            padding-left: 4rem;
            padding-right: 4rem;
        }
        @media (--sp) {
            padding: 10.2rem 5.3vw 0;
        }
    }

    p {
        margin-top: 5rem;
        line-height: 2.5;
        font-weight: 300;
        font-size: 1.6rem;
        @media (--sp) {
            margin-top: 3rem;
            font-size: 1.3rem;
            line-height: 2;
        }
    }

    &--wrapper {
        background-color: #f7f7f7;
        padding: 9rem 10rem;
        margin-left: -10rem;
        margin-top: 5rem;
        width: 100vw;
        @media (--tb) {
            padding-right: 4rem;
        }
        @media (--sp) {
            margin-top: 4rem;
            padding: 6rem 5.3vw;
            width: 100vw;
            margin-left: -5.3vw;
            margin-right: -5.3vw;
        }

        &--inner {
            width: 1160px;
            max-width: 100%;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            row-gap: 6rem;
            @media (--sp) {
                flex-direction: column;
            }
            &--item {
                display: inline-block;
                padding: 4rem;
                width: 31%;
                border-radius: 60px;
                background: #fff;
                box-shadow: 20px 20px 60px #d9d9d9, -20px -20px 60px #fff;
                position: relative;
                @media (--tb) {
                    width: calc(50% - 2rem);
                }
                @media (--sp) {
                    width: 100%;
                    padding: 3rem;
                    border-radius: 32px;
                }

                .number {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 7rem;
                    height: 7rem;
                    background-color: #e74c3c;
                    color: #fff;
                    font-family: "Montserrat", sans-serif;
                    font-size: 3rem;
                    letter-spacing: 0.1em;
                    box-sizing: border-box;
                    position: absolute;
                    top: -10px;
                    left: -10px;
                    @media (--sp) {
                        width: 5rem;
                        height: 5rem;
                        font-size: 2rem;
                    }
                }

                .img-wrapper {
                    text-align: center;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    @media (--not-sp) {
                        height: 17rem;
                    }

                    img {
                        width: 100%;
                        @media (--sp) {
                            width: calc(420 / 550 * 100%);
                        }
                    }
                }

                h3 {
                    font-size: 2rem;
                    color: #e74c3c;
                    line-height: 1.7;
                    font-weight: 700;
                    margin-top: 3.3rem;
                    @media (--tb) {
                        font-size: calc(2rem * 0.8);
                    }
                    @media (--sp) {
                        font-size: 1.6rem;
                        margin-top: 2rem;
                    }
                }

                p {
                    font-size: 1.4rem;
                    line-height: 2;
                    letter-spacing: 0.1em;
                    margin-top: 2rem;
                    @media (--tb) {
                        font-size: calc(1.4rem * 0.8);
                        margin-top: calc(3rem * 0.8);
                    }
                    @media (--sp) {
                        font-size: 1.2rem;
                        line-height: 1.8;
                        margin-top: 1rem;
                    }
                }
            }
        }
    }
}
