.footer {
    /* footer style here */
    text-align: center;
    border-top: 1px solid #e5e5e5;
    .layout {
        border-left: 1px solid #e5e5e5;
        border-right: 1px solid #e5e5e5;
        padding: 4.4rem 4.4rem;
        @media (--sp) {
            padding: 2.5rem 2.5rem;
        }

        small {
            font-size: 1rem;
            letter-spacing: 0.1em;
            @media (--sp) {
                font-size: 0.9rem;
            }
        }
    }
}
