<div class="contact">
  <div class="layout">
    <div class="show-animation" data-animation="title">
      <h2 class="section-title">Contact Us</h2>
      <span class="section-title-child">お問い合わせ</span>
    </div>

    <div class="contact_wrapper">
      <div class="contact_wrapper--text">
        <p>
          開発に関するご相談など弊社への<br class="pc-br" />お問い合わせはこちらのフォームから<br
            class="pc-br"
          />お願いいたします。
        </p>
        <span>＊は必須です</span>
      </div>

      <div class="contact_wrapper--form">
        <form action="" method="">
          <div class="form-item">
            <label for="name">Name<span>*</span></label>
            <input id="name" type="text" name="name" />
          </div>
          <div class="form-item">
            <label for="tel">Tel<span>*</span></label>
            <input id="tel" type="text" name="tel" />
          </div>
          <div class="form-item">
            <label for="email">E-mail<span>*</span></label>
            <input id="email" type="text" name="email" />
          </div>
          <div class="form-item">
            <label for="Message">Message</label>
            <textarea name="Message" id="Message"></textarea>
          </div>
          <div class="submit_wrapper">
            <input type="submit" value="Submit" class="submit" />
          </div>
        </form>
      </div>
    </div>
  </div>
</div>